aiofiles==24.1.0
fastapi==0.116.1
httpx==0.28.1
mediapipe==0.10.21
numpy==1.23.5
openai==1.97.1
opencv_contrib_python==4.11.0.86
opencv_python==4.10.0.84
passlib==1.7.4
protobuf==6.31.1
pydantic==2.11.7
pytest==7.4.0
pytest_asyncio==1.1.0
python-dotenv==1.1.1
python_jose==3.5.0
SQLAlchemy==2.0.21
uvicorn==0.35.0
